/*---------------Global styles-------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #88e1f5, #366ab5);
  color: beige;
  font-family: "Ubuntu", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
  color: #356cb6;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  font-size: 4rem;
  color: beige;
}

/*----------------Form-----------------*/

form input,
form button {
  padding: 0.5rem;
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  border: none;
  background: #eefffa;
  color: #356cb6;
}

form button {
  color: #356cb6;
  background: #eefffa;
  cursor: pointer;
  transition: all 0.2s ease;
}

form button:hover {
  background: #356cb6;
  color: #eefffa;
}

input:focus,
button:focus {
  outline: none;
}

/*-----------------TODOs----------------*/
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: #eefffa;
  color: #1d5db1;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  word-break: break-all;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.delete-btn,
.completed-btn {
  background: #21bee1;
  color: beige;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.delete-btn {
  background: #d48581;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-check-circle,
.fa-skull-crossbones {
  pointer-events: none;
}

/*----------------Animation-----------------*/
.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotate(20deg);
  opacity: 0;
}

/*-----------------Filter--------------------*/
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}

select {
  font-family: "Ubuntu", sans-serif;
  font-size: 1rem;
  color: #356cb6;
  background: #eefffa;
  width: 11rem;
  cursor: pointer;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #356cb6;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: #eefffa;
  color: #356cb6;
}
